body{
    margin: 0%;
    font-family: monospace;
    background-color: #F5EAEA;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}
.logo{
    font-weight: bolder;
    color: #EB455F;
    font-size: 45px;
    text-decoration: none;
}
header  ul{
    display: flex;
    flex-direction: row;
}
header  ul li a:hover{
 color:#EB455F;
}
header  ul li{
    padding: 10px;
    list-style: none;
    font-size: 15px;
}
header  ul li:last-child{
    margin-right: 80px;
}
header a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
about h1{
    font-size: 30px;
    background-color: #EB455F;
    text-align: center;
}
about img{
    text-align: center;
    opacity: 0.5;
    transition-property: opacity;
}
about p{
    font-size: 15px;
    font-weight: bolder;
    text-transform: capitalize;
}
about img:hover{
    text-align: center;
    opacity: 1;
    transition: 5ms;
    -webkit-transition: ease-in-out;
}
button{
    color: #EB455F;
    font-size: 1px;
    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #eb455e;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}
button:hover{
    background: #2b3467;
    background-image: -webkit-linear-gradient(top, #2b3467, #2b3467);
    background-image: -moz-linear-gradient(top, #2b3467, #2b3467);
    background-image: -ms-linear-gradient(top, #2b3467, #2b3467);
    background-image: -o-linear-gradient(top, #2b3467, #2b3467);
    background-image: linear-gradient(to bottom, #2b3467, #2b3467);
    text-decoration: none;
}
button a{
    color: #EB455F;
}
smc a i {
    padding-top: 20px;
    text-decoration: none;
    color: #EB455F;
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 20px;
    transition-property: font-size;
    transition: 5ms;
    -webkit-transition: ease-in-out;
}
smc i:hover{
    transform: scale(1.2);
}
smc p{
    font-size: 20px;
}